//<================================================================ FONTS ===============================================================>\\

//&display=swap - оптимізація підвантаження шрифта
//&subset=cyrillic-ext - підвантаження кириличної версії

// Змінна font-family
$ff: 'Arial';

// Змінна font-size
$fs: 16px;

// Змінна font-weight
$fw: 400;

// Змінна color
$fc: #000;

//<============================================================ CUSTOM RESET ============================================================>\\

// Максимальна ширина обмежуючого контейнера
$mw: 1920px;

// Фоновий колір для body
$bgc: #fff;

// Обнулення стилів
@import 'reset';

//<====================================================== БАГАТОРАЗОВЕ ВИКОРИСТАННЯ =====================================================>\\



//<================================================================= ХЕДЕР ==============================================================>\\



//<================================================================= ФУТЕР ==============================================================>\\

